<!DOCTYPE html>
<html>
<head>
    <title>Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Gallery</h1>
    </header>
    <main>
        <div class="grid">
            {% for image in images %}
                <div class="grid-item">
                    <a style="text-decoration: none" href="{{ url_for('view_image', filename=image.filename) }}">
                        <div class="card">
                            <img src="{{ url_for('static', filename='uploads/' + image.filename) }}" alt="{{ image.title }}">
                            <div class="card-content">
                                <h2>{{ image.title }}</h2>
                                <p>Uploaded by {{ image.username }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>