<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_image.css') }}">
    <script>
        function copyToClipboard() {
            var copyText = document.getElementById("url");
            copyText.select();
            document.execCommand("copy");
            alert("URL copied to clipboard: " + copyText.value);
        }
    </script>
</head>
<body>
    <a href="{{ url_for('upload') }}" class="upload-button">Upload New Image</a>
    <a href="{{ url_for('gallery') }}" class="gallery-button">Go to Gallery</a>
    <h1>{{ title }}</h1>
    <img src="{{ url_for('static', filename='uploads/' + filename) }}" alt="{{ title }}">
    <p>Uploaded by {{ username }}</p>
    <input type="text" value="{{ url_for('view_image', filename=filename, _external=True) }}" id="url" readonly style="border: 1px solid black;">
    <button onclick="copyToClipboard()">Copy URL to clipboard</button>
    <div class="tags-container">
    <p>Tags:</p>
    {% for tag in tags %}
        <a href="{{ url_for('tag', query=tag) }}" class="tag">{{ tag }}</a>
    {% endfor %}
    </div>

</body>
</html>
