<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/styles/global.css" />
    <link rel="stylesheet" href="../static/styles/mainhome.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kite One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="create-parent">
      <button class="create">Create</button> 
      <button class="feed-wrapper"><div class="feed">Feed</div></button>
      <button class="home-wrapper"><div class="home1">Home</div></button>
      
      <input class="frame-child" type="text" /><img
        class="frame-item"
        alt=""
        src="../static/styles/public/ellipse-3.svg"
      /><button class="categories">Categories</button
      >
      <button class="chart-topping-wrapper">
        <button class="chart-topping">Chart-Topping</button></button
      >
      
      <img
        class="davi-moreira-t7itprh7kkg-unspl-icon"
        alt=""
        src="../static/styles/public/davimoreirat7itprh7kkgunsplash@2x.png"
      /><img
        class="aachal-6gevjezjmg8-unsplash-icon"
        alt=""
        src="../static/styles/public/aachal6gevjezjmg8unsplash@2x.png"
      /><img
        class="eberhard-grossgasteiger-nvesrd-icon"
        alt=""
        src="../static/styles/public/eberhardgrossgasteigernvesrdbsrl4unsplash@2x.png"
      /><img
        class="dom-cxjtv9qip6m-unsplash-1-icon"
        alt=""
        src="../static/styles/public/domcxjtv9qip6munsplash-1@2x.png"
      /><img
        class="aleksandr-popov-uujzcuhufyi-un-icon"
        alt=""
        src="../static/styles/public/aleksandrpopovuujzcuhufyiunsplash@2x.png"
      /><img
        class="lily-6gpwolpx7jg-unsplash-icon"
        alt=""
        src="../static/styles/public/lily6gpwolpx7jgunsplash@2x.png"
      /><img
        class="katarzyna-grabowska-rmygcai-z-icon"
        alt=""
        src="../static/styles/public/katarzynagrabowskarmygcai-zuunsplash@2x.png"
      /><img
        class="altinay-dinc-llueltl5mk4-unspl-icon"
        alt=""
        src="../static/styles/public/altinaydincllueltl5mk4unsplash@2x.png"
      /><img
        class="stormseeker-rx12b5ux7qm-unspla-icon"
        alt=""
        src="../static/styles/public/stormseekerrx12b5ux7qmunsplash@2x.png"
      /><img
        class="daniel-tseng-w9kq9suaby4-unspl-icon"
        alt=""
        src="../static/styles/public/danieltsengw9kq9suaby4unsplash-1@2x.png"
      /><img
        class="aleksandr-popov-5tsvxcrfi-i-un-icon"
        alt=""
        src="../static/styles/public/aleksandrpopov5tsvxcrfi-iunsplash-1@2x.png"
      />
      <div class="frame-inner"></div>
      <img
        class="tirza-van-dijk-cnguw-cesp0-uns-icon"
        alt=""
        src="../static/styles/public/tirzavandijkcnguwcesp0unsplash@2x.png"
      />
      
      <button class="untitled-1-1" id="logotohome"></button>
      
      <div class="search">Search..</div>
      
      
      
      <button class="ellipse-parent">
        <img class="ellipse-icon" alt="" src="../static/styles/public/ellipse-3.svg" />
        <div class="vv">VV</div></button
      >
      <img class="frame-child1" alt="" src="../static/styles/public/ellipse-22.svg" /><img
        class="frame-child2"
        alt=""
        src="../static/styles/public/ellipse-22.svg"
      /><img class="frame-child3" alt="" src="../static/styles/public/ellipse-22.svg" /><img
        class="frame-child4"
        alt=""
        src="../static/styles/public/ellipse-22.svg"
      /><img class="frame-child5" alt="" src="../static/styles/public/ellipse-22.svg" /><img
        class="frame-icon"
        alt=""
        src="../static/styles/public/frame-102@2x.png"
      />
    <script>
      
      var logotohome = document.getElementById("logotohome");
      if (logotohome) {
        logotohome.addEventListener("click", function (e) {
          window.location.href = "./index.html";
        });
        }

      </script>
    </div>
  </body>
</html>