<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_search.css') }}">
</head>
<body>
    <header>
        <h1>Search</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('upload') }}">Upload New Image</a></li>
                <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form method="post">
            <div class="search-bar">
                <input type="text" name="search" placeholder="Search by title" value="{{ query }}">
                <button type="submit">Search</button>
            </div>
        </form>
        {% if images %}
            <h2 class="search-results">Search results for "{{ query }}"</h2>
            <div class="grid">
                {% for image in images %}
                    <div class="grid-item">
                        <div class="card">
                            <a href="{{ url_for('view_image', filename=image.filename) }}"><img src="{{ url_for('static', filename='uploads/' + image.filename) }}" alt="{{ image.title }}"></a>
                            <div class="card-content">
                                <h2>{{ image.title }}</h2>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            {% if query %}
                <p class="no-results">No results found for "{{ query }}".</p>
            {% endif %}
        {% endif %}
    </main>
</body>
</html>
